.four04container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.four04container > p {
  font-size: 20px;
}

.four04container a {
  color: #000080;
  text-decoration: underline;
}

.teammembers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teammembers button {
  background-color: #000080;
  border: none;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
