.page_title {
  font-size: 20px;
  margin: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.add_municipality_container {
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 50px;
}

.municipality_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (max-width: 600px) {
  .add_municipality_container {
    flex-direction: column;
  }
}
