.header_container {
  display: flex;
  flex-direction: row;
}
.user_name_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.user_name {
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
  text-transform: capitalize;
}

.userdashboard_options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.userdashboard_options_new {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.certificateAppliedText {
  text-align: center;
  color: #000080;
  font-weight: 600;
  font-size: large;
}

@media (max-width: 600px) {
  .userdashboard_options {
    flex-direction: column;
  }
}
